body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 2px;
}

.message {
  height: 14px;
  margin-bottom: 4px;
}

.white.square {
   color: white;
}

.black.square {
   color: black;
}

.true.square {
   background: blue;
}

.odd {
  background: grey;
}

.even {
  background: silver;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  height: 45px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

